<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IP Info</title>
    <meta name="description" content="IP-address information">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="divBody" th:object="${domainInfoInstance}">
    <h2>IP Info:</h2>
    <div class="divTable">
        <table>
            <thead>
            <tr>
                <th>Zone</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${domainInfoInstance.zone}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Domain General Info:</h3>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>Files Count</th>
                    <th>Urls Count</th>
                    <th>Hits Count</th>
                    <th>Domain</th>
                    <th>Ipv4 Count</th>
                    <th>Categories</th>
                    <th>Categories with Zone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${domainInfoInstance.domainGeneralInfo.filesCount}"></td>
                    <td th:text="${domainInfoInstance.domainGeneralInfo.urlsCount}"></td>
                    <td th:text="${domainInfoInstance.domainGeneralInfo.hitsCount}"></td>
                    <td th:text="${domainInfoInstance.domainGeneralInfo.domain}"></td>
                    <td th:text="${domainInfoInstance.domainGeneralInfo.ipv4Count}"></td>
                    <td th:text="${#strings.listJoin(domainInfoInstance.domainGeneralInfo.categories, ', ')}"></td>
                    <td th:text="${#strings.listJoin(domainInfoInstance.domainGeneralInfo.categoriesWithZone, ', ')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3>Domain WhoIs Info:</h3>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>Domain Name</th>
                    <th>Created</th>
                    <th>Expires</th>
                    <th>Name Servers</th>
                    <th>Contacts</th>
                    <th>Registrar Info</th>
                    <th>Domain Status</th>
                    <th>Registration Organization</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${domainInfoInstance.domainWhoIsInfo.domainName}"></td>
                    <td th:text="${domainInfoInstance.domainWhoIsInfo.created}"></td>
                    <td th:text="${domainInfoInstance.domainWhoIsInfo.expires}"></td>
                    <td th:text="${#strings.listJoin(domainInfoInstance.domainWhoIsInfo.nameServers, ', ')}"></td>
                    <td th:text="${#strings.listJoin(domainInfoInstance.domainWhoIsInfo.contacts, ', ')}"></td>
                    <td th:text="${domainInfoInstance.domainWhoIsInfo.registrar.info}"></td>
                    <td th:text="${#strings.listJoin(domainInfoInstance.domainWhoIsInfo.domainStatus, ', ')}"></td>
                    <td th:text="${domainInfoInstance.domainWhoIsInfo.registrationOrganization}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

