<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IP Info</title>
    <meta name="description" content="IP-address information">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="divBody" th:object="${ipInfoInstance}">
    <h2>IP Info:</h2>
    <div class="divTable">
        <table>
            <thead>
            <tr>
                <th>Zone</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${ipInfoInstance.zone}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>IP General Info:</h3>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Country Code</th>
                    <th>IP Address</th>
                    <th>Categories</th>
                    <th>Categories with Zone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${ipInfoInstance.ipGeneralInfo.status}"></td>
                    <td th:text="${ipInfoInstance.ipGeneralInfo.countryCode}"></td>
                    <td th:text="${ipInfoInstance.ipGeneralInfo.ip}"></td>
                    <td th:text="${#strings.listJoin(ipInfoInstance.ipGeneralInfo.categories, ', ')}"></td>
                    <td th:text="${#strings.listJoin(ipInfoInstance.ipGeneralInfo.categoriesWithZone, ', ')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3>Asn:</h3>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>ASN</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${#strings.listJoin(ipInfoInstance.ipWhoIs.asn, ', ')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3>IP WhoIs:</h3>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>Net</th>
                    <th>Range Start</th>
                    <th>Range End</th>
                    <th>Created</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${ipInfoInstance.ipWhoIs.net}"></td>
                    <td th:text="${ipInfoInstance.ipWhoIs.net.rangeStart}"></td>
                    <td th:text="${ipInfoInstance.ipWhoIs.net.rangeEnd}"></td>
                    <td th:text="${ipInfoInstance.ipWhoIs.net.created}"></td>
                    <td th:text="${ipInfoInstance.ipWhoIs.net.name}"></td>
                    <td th:text="${ipInfoInstance.ipWhoIs.net.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

