<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>URL Info</title>
    <meta name="description" content="URL information">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="divBody" th:object="${urlInfoInstance}">
    <h2>URL Info:</h2>
    <div class="divTable">
        <table>
            <thead>
            <tr>
                <th>Zone</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${urlInfoInstance.zone}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>URL General Info:</h3>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>URL</th>
                    <th>Host</th>
                    <th>Ipv4 Count</th>
                    <th>Files Count</th>
                    <th>Categories</th>
                    <th>Categories with Zone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${urlInfoInstance.urlGeneralInfo.url}"></td>
                    <td th:text="${urlInfoInstance.urlGeneralInfo.host}"></td>
                    <td th:text="${urlInfoInstance.urlGeneralInfo.ipv4Count}"></td>
                    <td th:text="${urlInfoInstance.urlGeneralInfo.filesCount}"></td>
                    <td th:text="${#strings.listJoin(urlInfoInstance.urlGeneralInfo.categories, ', ')}"></td>
                    <td th:text="${#strings.listJoin(urlInfoInstance.urlGeneralInfo.categoriesWithZone, ', ')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3>URL Domain WhoIs:</h3>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>Domain Name</th>
                    <th>Created</th>
                    <th>Expires</th>
                    <th>Name Servers</th>
                    <th>Domain Status</th>
                    <th>Registration Organization</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${urlInfoInstance.urlDomainWhoIs.domainName}"></td>
                    <td th:text="${urlInfoInstance.urlDomainWhoIs.created}"></td>
                    <td th:text="${urlInfoInstance.urlDomainWhoIs.expires}"></td>
                    <td th:text="${#strings.listJoin(urlInfoInstance.urlDomainWhoIs.nameServers, ', ')}"></td>
                    <td th:text="${#strings.listJoin(urlInfoInstance.urlDomainWhoIs.domainStatus, ', ')}"></td>
                    <td th:text="${urlInfoInstance.urlDomainWhoIs.registrationOrganization}"></td>
                </tr>
                </tbody>
            </table>
        </div>


        <div>
            <h3>Registar:</h3>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Registrar Info</th>
                        <th>Registrar IanaId</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${urlInfoInstance.urlDomainWhoIs.registrar.info}"></td>
                        <td th:text="${urlInfoInstance.urlDomainWhoIs.registrar.ianaId}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h2>Contacts:</h2>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Contact Type</th>
                        <th>Name</th>
                        <th>Organization</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country Code</th>
                        <th>Phone</th>
                        <th>Fax</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr th:each="contact : ${urlInfoInstance.urlDomainWhoIs.contacts}">
                        <td th:text="${contact.contactType}"></td>
                        <td th:text="${contact.name}"></td>
                        <td th:text="${contact.organization}"></td>
                        <td th:text="${contact.address}"></td>
                        <td th:text="${contact.city}"></td>
                        <td th:text="${contact.state}"></td>
                        <td th:text="${contact.countryCode}"></td>
                        <td th:text="${contact.phone}"></td>
                        <td th:text="${contact.fax}"></td>
                        <td th:text="${contact.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>

