<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Analyses File</title>
    <meta name="description" content="Downloaded file information">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="divBody" th:object="${analysesFileInstance}">
    <div>
        <h2>Domain Info:</h2>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Self Link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${analysesFileInstance.data.id}"></td>
                    <td th:text="${analysesFileInstance.data.type}"></td>
                    <td th:text="${analysesFileInstance.data.links.self}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Attributes:</h2>
            <div class="divTable">
                <h3>Results:</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Engine Name</th>
                        <th>Method</th>
                        <th>Engine Name</th>
                        <th>Engine Version</th>
                        <th>Engine Update</th>
                        <th>Category</th>
                        <th>Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result : ${analysesFileInstance.data.attributes.results}">
                        <td th:text="${result.key}"></td>
                        <td th:text="${result.value.method}"></td>
                        <td th:text="${result.value.engine_name}"></td>
                        <td th:text="${result.value.engine_version}"></td>
                        <td th:text="${result.value.engine_update}"></td>
                        <td th:text="${result.value.category}"></td>
                        <td th:text="${result.value.result}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${analysesFileInstance.data.attributes.status}"></td>
                        <td th:text="${analysesFileInstance.data.attributes.date}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h3>Stats:</h3>
                <div class="divTable">
                    <table>
                        <thead>
                        <tr>
                            <th>Malicious</th>
                            <th>Suspicious</th>
                            <th>Undetected</th>
                            <th>Harmless</th>
                            <th>Timeout</th>
                            <th>Confirmed Timeout</th>
                            <th>Failure</th>
                            <th>Type Unsupported</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${analysesFileInstance.data.attributes.stats.malicious}"></td>
                            <td th:text="${analysesFileInstance.data.attributes.stats.suspicious}"></td>
                            <td th:text="${analysesFileInstance.data.attributes.stats.undetected}"></td>
                            <td th:text="${analysesFileInstance.data.attributes.stats.harmless}"></td>
                            <td th:text="${analysesFileInstance.data.attributes.stats.timeout}"></td>
                            <!--                <td th:text="${ipInfoInstance.data.attributes.stats.confirmed-timeout}"></td>-->
                            <td th:text="${analysesFileInstance.data.attributes.stats.failure}"></td>
                            <!--                <td th:text="${ipInfoInstance.data.attributes.stats.type-unsupported}"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div>
            <h2>Meta(File Info):</h2>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>sha256</th>
                        <th>md5</th>
                        <th>sha1</th>
                        <th>size</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${analysesFileInstance.meta.file_info.sha256}"></td>
                        <td th:text="${analysesFileInstance.meta.file_info.md5}"></td>
                        <td th:text="${analysesFileInstance.meta.file_info.sha1}"></td>
                        <td th:text="${analysesFileInstance.meta.file_info.size}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>

