<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IP Info</title>
    <meta name="description" content="IP-address information">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="divBody" th:object="${ipInfoInstance}">
    <div>
        <h2>IP Info:</h2>
        <div class="divTable">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Self Link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${ipInfoInstance.data.id}"></td>
                    <td th:text="${ipInfoInstance.data.type}"></td>
                    <td th:text="${ipInfoInstance.data.links.self}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h3>Attributes:</h3>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Last HTTPS Certificate Date</th>
                        <th>JARM</th>
                        <th>Whois</th>
                        <th>Whois Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${ipInfoInstance.data.attributes.last_https_certificate_date}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.jarm}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.whois}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.whois_date}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div>
            <h4>Last Analysis Stats:</h4>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Malicious</th>
                        <th>Suspicious</th>
                        <th>Undetected</th>
                        <th>Harmless</th>
                        <th>Timeout</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${ipInfoInstance.data.attributes.last_analysis_stats.malicious}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.last_analysis_stats.suspicious}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.last_analysis_stats.undetected}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.last_analysis_stats.harmless}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.last_analysis_stats.timeout}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h4>Last Analysis Results:</h4>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Engine Name</th>
                        <th>Method</th>
                        <th>Category</th>
                        <th>Result</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result : ${ipInfoInstance.data.attributes.last_analysis_results}">
                        <td th:text="${result.key}"></td>
                        <td th:text="${result.value.method}"></td>
                        <td th:text="${result.value.category}"></td>
                        <td th:text="${result.value.result}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h4>Total Votes:</h4>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Harmless</th>
                        <th>Malicious</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${ipInfoInstance.data.attributes.total_votes.harmless}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.total_votes.malicious}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <h4>Additional Attributes:</h4>
            <div class="divTable">
                <table>
                    <thead>
                    <tr>
                        <th>Continent</th>
                        <th>As Owner</th>
                        <th>Country</th>
                        <th>Continent</th>
                        <th>Last Analysis Date</th>
                        <th>Last Modification Date</th>
                        <th>Reputation</th>
                        <th>Asn</th>
                        <th>Network</th>
                        <th>Regional Internet Registry</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${ipInfoInstance.data.attributes.continent}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.as_owner}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.country}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.continent}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.last_analysis_date}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.Last_modification_date}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.reputation}"></td>
                        <td th:text="${#strings.arrayJoin(ipInfoInstance.data.attributes.tags, ' ')}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.asn}"></td>
                        <td th:text="${ipInfoInstance.data.attributes.regional_internet_registry}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>

